.preview-header, .preview-container{
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    text-align: center;
}

.preview-image-header{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.preview{
    margin-bottom: 15px;
}