.cropper-image{
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.preview-btn{
    position: relative;
}

.action-buttons{
    display: flex;
    padding: 20px;
}

.action-btn{
    left: 0;
    right: 0;
    margin: auto;
}

.cropper-title{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}